.project {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  cursor: pointer;
}

.project:last-child {
  border: none;
}

.projectForm,
.addProjectBtn {
  display: none;
}

.visible {
  display: block;
}

#addProjectBtn {
  width: 50px;
  font-size: 48px;
  padding: 0;
}
