.hidden {
  display: none;
}

.inline {
  display: inline-block;
  margin-right: 20px;
}

.toDo {
  border: 1px solid rgb(238, 238, 238);;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
